Repository piro0919/recigle: changes, and which lefthook commands are due for each by the changed paths.
All: biome, secretlint

biome:
  run: npx biome check --write {staged_files}
  stage_fixed: true

secretlint:
  run: npx secretlint --maskSecrets {staged_files}

feat: rewrite with App Router, Tailwind CSS v4, and Serwist PWA
  .vscode/settings.json
  src/app/_components/button.tsx
  src/app/_components/heading.tsx
  src/app/_components/search-form.tsx
  src/app/_components/search-input.tsx
  src/app/_components/serwist-provider.tsx
  src/app/_components/suggestion-item.tsx
  src/app/_components/suggestions-dropdown.tsx
  src/app/api/suggest/route.ts
  src/app/fonts/NP_Shimizu.woff2
  src/app/globals.css
  src/app/layout.tsx
  src/app/manifest.ts
  src/app/page.tsx
  src/app/serwist/[path]/route.ts
  src/app/sw.ts
  src/hooks/use-local-storage.ts
  src/hooks/use-search-history.ts
  src/hooks/use-suggestions.ts
  src/lib/build-search-url.ts
  src/lib/fetch-blacklist.ts
Due: biome, secretlint

docs: update README and CLAUDE.md
  CLAUDE.md
  README.md
Due: none

feat: optimize metadata and add OG image generation
  src/app/fonts/NP_Shimizu.ttf
  src/app/layout.tsx
  src/app/manifest.ts
  src/app/opengraph-image.tsx
  src/app/twitter-image.tsx
Due: biome, secretlint

fix: prevent layout shift when mobile keyboard appears
  src/app/page.tsx
Due: biome, secretlint

refactor: improve suggest API and switch to Google Search
  src/app/api/suggest/route.ts
  src/hooks/use-suggestions.ts
  src/lib/build-search-url.ts
Due: biome, secretlint

fix: update description and fix OG image font rendering
  src/app/layout.tsx
  src/app/manifest.ts
  src/app/opengraph-image.tsx
Due: biome, secretlint

fix: adjust layout to move content up when virtual keyboard appears
  src/app/layout.tsx
  src/app/page.tsx
Due: biome, secretlint

fix: allow free screen rotation for PWA on tablets
  src/app/manifest.ts
Due: biome, secretlint

chore: use shared renovate preset
  renovate.json
Due: none

chore: add MIT license
  LICENSE
Due: none

docs: rewrite README
  README.md
Due: none

fix(seo): point the metadata at kkweb.io
  src/app/layout.tsx
Due: biome, secretlint

feat(analytics): add vercel analytics and lighthouse ci
  .gitignore
  .lighthouserc.json
  package-lock.json
  package.json
  src/app/layout.tsx
Due: biome, secretlint

fix(build): declare the browsers this app targets
  package.json
Due: none

feat(seo): add canonical, og:url, a sitemap and robots.txt
  src/app/layout.tsx
  src/app/robots.ts
  src/app/sitemap.ts
Due: biome, secretlint

chore: add funding links
  .github/FUNDING.yml
Due: secretlint

ci: run lint and the type check
  .github/workflows/ci.yml
Due: secretlint

fix(deps): resync the lock file with package.json
  package-lock.json
Due: none

chore(deps): update next to v16, typescript to v7, and the major dev tools
  css.d.ts
  package-lock.json
  package.json
Due: none

chore(next): take the tsconfig and next-env rewrites from next 16
  next-env.d.ts
  tsconfig.json
Due: none

feat(seo): explain the site in a dialog
  src/app/_components/about.tsx
  src/app/layout.tsx
  src/app/page.tsx
Due: biome, secretlint

test: cover the search url and blacklist parser in ci
  .github/workflows/ci.yml
  knip.json
  package-lock.json
  package.json
  src/lib/build-search-url.test.ts
  src/lib/parse-blacklist.test.ts
  vitest.config.mts
Due: biome, secretlint

fix(suggest): drop stale responses and bound the proxy
  src/app/api/suggest/route.ts
  src/hooks/use-suggestions.ts
Due: biome, secretlint

fix(blacklist): keep error pages out of the excluded sites
  biome.json
  src/lib/fetch-blacklist.ts
  src/lib/parse-blacklist.ts
Due: biome, secretlint

chore: refresh the lockfile after rebasing on renovate updates
  package-lock.json
  package.json
Due: none

chore: add shared lint rules for unnamed numbers and tailwind values
  biome.json
  package-lock.json
  package.json
Due: none

Path conditions:
  biome: any of: **/*.{ts,tsx,css,json}
  secretlint: any of: **/*
